@import url("../../vendor/noty/noty.min.css");
@import url("../../vendor/jquery/jquery-ui.css");
@import url("../../vendor/tostr/toastr.min.css");
@import url("../../vendor/font-awesome/all.min.css");
@import url("../../vendor/jquery/jquery.datetimepicker.css");
@import url("../../vendor/datatables/datatables.css");

.loaderAjax {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loaderContent {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

select[name="dataTable_length"]#dt-length-0 {
    width: 75px !important;
}

.dataTable thead tr th {
    text-align: center !important;
}

.dataTable thead tr th {
    text-align: center !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
